<!DOCTYPE html>
<html lang="en" >

	<head>
		<meta charset="utf-8" />
		<title>
			Forget your password into the Blockchain
		</title>

		<!--Javascript-->
		<script src="/vendor/jquery-2.2.3.min.js"></script>
		<script src="/vendor/bootstrap.min.js"></script>
		<!--CSS-->
		<link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>

	<body>
		<div class="container">
			<%-defineContent('content')%>
		</div>
	</body>

</html>
