# IntelliJ project files
.idea
*.iml

# contract.json
contractLostPassword.json
contractBackToLife.json
contractHierarchy.json
contractMyWill.json
!/Production/Ropsten/*
!/Production/Main/*

# Blockchain folder
blockchain/