# IntelliJ project files
.idea
*.iml

/Web/app/server/config/config.js

# contract.json
contractLostPassword.json
contractBackToLife.json
contractHierarchy.json
contractMyWill.json
!/Production/Ropsten/*
!/Production/Main/*

# Blockchain folder
blockchain/