<%- contentFor('meta') %>
<meta name="description" content="Contact Us">

<%- contentFor('title') %>
Contact Us

<%- contentFor('content') %>

<section class="engine"><a href="https://mobirise.me/a">Mobirise review</a></section><section class="cid-qW494JICRj" id="footer2-n">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <p class="mbr-text">
                    <strong><em>Address</em></strong><br>
                    <br>Parc Científic i Tecnològic de la Universitat de Girona 
                    <br>Emili Grahït, 91 <br>(Edifici Narcís Monturiol)
                    <br>17003 Girona&nbsp;<br>
                    <br>
                    <br><em><strong>Contacts&nbsp;</strong></em><br>
                    <br><em>Email:</em><br>backtolife.easy@gmail.com<br><br><em>Phone:</em><br>(+34) 972418854<br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-4">
                <p class="mbr-text"><strong><em>Links</em></strong><br>
                    <br><a class="text-primary" href="https://www.centreeasy.com/en" target="_blank">Centre Easy </a>&nbsp;<br>
                    <br><em><strong>Feedback
                    </strong></em><br>
                    <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.<br><br><a class="text-primary" href="https://www.centreeasy.com/en/contact/" target="_blank">Send feedback</a></p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJ9zaw9LXmuhIR-s397HgVXvw" allowfullscreen=""></iframe></div>
            </div>
        </div>
        
    </div>
</section>