<%- contentFor('title') %>
MY WILLS

<%- contentFor('content') %>

<section class="cid-qPEh09X89D mbr-parallax-background" id="header15-s" style="padding-top: 30px; padding-bottom: 30px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-left">

        <div class="row">
            <div class="mbr-white col-md-12 content-container wills-form">
                <div class="card will-card">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#cc2952;">New Will</h5>
                        <br>
                        <form class="mbr-form" data-form-title="new-will" method="post" id="new-will">

                            <span id="divholder"></span>

                            <div class="input-group-btn" style="display: flex;justify-content: center;">
                                <div class="mbr-section-btn"><a onclick="addRowGeneric()" class="btn btn-md btn-secondary display-4" style="    padding: 10px;"><span class="mbri-plus"></span></a></div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group-btn" style="display: flex;justify-content: center;">
                                        <label style="margin-top: auto; margin-bottom: auto; margin-right: 5px;">Amount to protect:</label>
                                        <input type='text' id='ethToContract' class='form-control' style='height: 3em; margin-top: auto; margin-bottom: auto;padding: 0px;line-height: 23px;font-size: 14px; width: 5em' value='0'>
                                        <div style='width: 4em; height: 3em; margin-top: auto; margin-bottom: auto;' class="input-group-append"><span class="input-group-text">Eth</span></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group-btn" style="display: flex;justify-content: center;">
                                        <button type="submit" class="btn btn-secondary btn-form display-4">Send</button>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="last-will-links">

        </div>


        <div class="row">
            <div id="transactions-container" class="mbr-white col-md-12"></div>
        </div>

        <div class="row">
            <div class="mbr-white col-md-12 content-container wills-container"></div>
        </div>

    </div>

</section>

<script src="/js/will.js"></script>
<script src="/js/transactions-alerts.js"></script>

<script id="last-will-added-template" type="x-tmpl-mustache">
 <div class="mbr-white col-md-12 content-container wills-form">
    <div class="card will-card">
        <div class="card-body">
            <h5 class="card-title" style="color:#cc2952;">Last Will</h5>
            <br>
            <p>Here are the generated links. Send them to the people you want:</p>
            {{#heirs}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend" style="width: 100px;">
                        <label class="input-group-text" for="will-role" style="width: 100%;">
                            <i class="fa fa-user" style="margin-right: 5px;"></i> Heir
                        </label>
                    </div>
                    <div class="input-group-prepend" style="width: 80px;">
                        <label class="input-group-text" for="will-role" style="width: 100%;">
                            <i class="fas fa-percentage" style="margin-right: 5px;"></i> {{percentage}}
                        </label>
                    </div>
                    <div class="input-group-prepend">
                        <label class="input-group-text"><i class="fa fa-link"></i></label>
                    </div>
                    <input type="text" class="form-control" style="padding: 8px;line-height: 23px;font-size: 14px; border: 1px solid #ced4da;" value="{{url}}" disabled>
                    <div class="input-group-append" style="border: 1px solid #ced4da; background-color: white;">
                        <a class="btn btn-sm btn-share" href="whatsapp://send?text=I share you the following link: {{url}}" data-action="share/whatsapp/share" data-toggle="tooltip" data-placement="top" title="Share via WhatsApp">
                            <i class="fab fa-whatsapp-square" style="color: green"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="mailto:?subject=Shared Link&body=I share you the following link: {{escapedUrl}}" data-toggle="tooltip" data-placement="top" title="Share via Email">
                            <i class="fas fa-envelope-square" style="color: grey"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="javascript:void(0)" onclick="copyToClipBoard(this);" data-text="{{url}}" data-toggle="tooltip" data-placement="top" title="Copy to clipboard!">
                            <i class="fas fa-clipboard" style="color: deepskyblue; font-size: 40px;"></i>
                        </a>
                    </div>
                </div>
            {{/heirs}}

            {{#witness}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend" style="width: 180px;">
                        <label class="input-group-text" for="will-role" style="width: 100%;">
                            <i class="fa fa-user" style="margin-right: 5px;"></i> Witness
                        </label>
                    </div>
                    <div class="input-group-prepend">
                        <label class="input-group-text"><i class="fa fa-link"></i></label>
                    </div>
                    <input type="text" class="form-control" style="padding: 8px;line-height: 23px;font-size: 14px; border: 1px solid #ced4da;" value="{{url}}" disabled>
                    <div class="input-group-append" style="border: 1px solid #ced4da; background-color: white;">
                        <a class="btn btn-sm btn-share" href="whatsapp://send?text=I share you the following link: {{url}}" data-action="share/whatsapp/share" data-toggle="tooltip" data-placement="top" title="Share via WhatsApp">
                            <i class="fab fa-whatsapp-square" style="color: green"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="mailto:?subject=Shared Link&body=I share you the following link: {{escapedUrl}}" data-toggle="tooltip" data-placement="top" title="Share via Email">
                            <i class="fas fa-envelope-square" style="color: grey"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="javascript:void(0)" onclick="copyToClipBoard(this);" data-text="{{url}}" data-toggle="tooltip" data-placement="top" title="Copy to clipboard!">
                            <i class="fas fa-clipboard" style="color: deepskyblue; font-size: 40px;"></i>
                        </a>
                    </div>
                </div>
            {{/witness}}

        </div>
    </div>
 </div>
</script>


<script id="will-template" type="x-tmpl-mustache">
   {{#wills}}
  <div class="card will-card" id="{{address}}">
        <div class="card-header">
            <span class="float-right" style="font-size: 20px;">{{balance}} Eth</span>
            <h5 class="card-title">Heritage ({{address}})</h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-muted">Heirs:</h6>
                        </div>
                    </div>
                    {{#heirs}}
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-text">
                                    <i class="fa fa-dollar-sign"></i> <span style="margin-right: 10px;">{{percentage}}%</span>
                                    <i class="fa fa-user"></i> <span style="margin-right: 10px;">{{address}}</span>
                                </p>
                            </div>
                        </div>
                    {{/heirs}}
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-muted">Witnesses:</h6>
                        </div>
                    </div>
                    {{#witnesses}}
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-text">
                                    <i class="fa fa-user"></i> {{address}}
                                </p>
                            </div>
                        </div>
                    {{/witnesses}}
                </div>
            </div>
        </div>

        <div class="card-footer">
            {{#owner}}
                <!-- Owner actions -->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="input-group col-md-6">
                        <div class="input-group-prepend">
                            <button class="btn btn-sm btn-outline-secondary send" data-address="{{address}}" type="button" style="margin:0px">Deposit</button>
                        </div>
                        <input type="text" class="form-control" name="value-{{address}}" placeholder="0.00" aria-label="" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary withdraw" data-address="{{address}}" type="button"  style="margin:0px">Withdraw</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            {{/owner}}
            {{^owner}}
                <!-- Hier actions -->
                <!--<button class="btn btn-sm btn-primary declare-dead" data-address="{{address}}">-->
                    <!--Declare as dead-->
                <!--</button>-->
            {{/owner}}
        </div>
    </div>
    {{/wills}}

</script>
<style>
    .will-card {
        border: 1px solid rgba(0, 0, 0, .125);
        background-color: #fff;
        margin-bottom: 5px;
        color: #333333;
    }

    .mbr-more {
        position: absolute;
        top: 10px;
        left: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: rgba(204, 41, 82, 0.8);
        border-radius: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .mbr-more > a {
        display: inline-block;
        text-decoration: none;
        outline-style: none;
        -webkit-animation: arrowdown 1.7s ease-in-out infinite;
        animation: arrowdown 1.7s ease-in-out infinite;
    }

    .mbr-more a {
        color: #ffffff;
    }

    .mbr-more > a > i {
        position: absolute;
        top: -2px;
        left: 15px;
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        .content-container.wills-container, .content-container.wills-form {
            padding-right: 10px;
        }

    }

    .wills-container {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .125);
        background-color: #78929bc4;
        border-radius: .25rem;
    }

    .wills-form {
        padding: 10px;

        border-radius: .25rem;
    }
</style>

<script>

    // Load transaction plugin globally
    var Transactions = new TransactoinAlerts({container: "#transactions-container"});

    $(document).ready(function () {
        // Load wills plugin
        var will = new MyWills({contract: contracts.base, hierarchy: contracts.hierarchy});

        // Load Previous Last Will
        var jsonWill = localStorage.getItem("lastwill");
        if (jsonWill) {
            will.renderLastWill(JSON.parse(jsonWill));
        }
    });

</script>