<%- contentFor('meta') %>
<meta name="description" content="My Wills">

<%- contentFor('title') %>
My Wills

<%- contentFor('content') %>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<section class="cid-qPEh09X89D mbr-parallax-background" id="header15-s" style="padding-top: 100px; margin-bottom: 144px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-left">

        <div class="row">
            <div class="col-md-12 test-real-selector">
                <div class="pull-right">
                    <style>
                        .toggle, .toggle-on, .toggle-off { border-radius: 20px; background: white; height:30px !important; width:100px !important; }
                        .toggle-handle { border-radius: 20px; }
                    </style>
                    <label style="color:white">Real network</label>
                    <input type="checkbox" data-toggle="toggle" id="chkTestReal">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mbr-white col-md-12 content-container wills-form">
                <div class="card will-card">
                    <div class="card-body">
                        <h5 class="card-title display-1" style="color:#e80000;">New Will</h5>
                        <br>
                        <form class="mbr-form" data-form-title="new-will" method="post" id="new-will">

                            <label class="card-title display-5">Your Ethereum Address:</label>

                            <input type="text" id="ownerInput" class="form-control" style="padding: 0px 0px 0px 10px; line-height: 23px;font-size: 14px;background: white;" placeholder="0x (hexadecimal)">

                            <br>

                            <label class="card-title display-5">Heirs & Witnesses:</label>

                            <span id="divholder"></span>

                            <div class="input-group-btn" style="display: flex;justify-content: center;">
                                <div class="mbr-section-btn"><a onclick="addRowGeneric()" class="btn btn-md btn-secondary display-4" style="    padding: 10px;"><span class="mbri-plus"></span></a></div>
                            </div>
                            <div class="row">

                                <div class="g-recaptcha col-md-4 offset-md-4" data-sitekey="6LffzGAUAAAAAAD0UhJuWZvnbMtlTZxM2WXBkQUP"></div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">
                                    <div class="input-group-btn" style="display: flex;justify-content: center;">
                                        <button type="submit" class="btn btn-sm btn-secondary btn-form display-4">Create Last Will</button>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-center" id="last-will-links">

        </div>

        <div class="row wills-row">
            <div class="col-md-12">

                <div class="row" id="list-wills">
                    <div class="mbr-white col-md-12 content-container wills-form">
                        <div class="card will-card">
                            <div class="card-body">

                                <h5 class="card-title display-1" style="color:#e80000;">List Wills</h5>

                                <br>

                                <label class="card-title">To see the created Last Will Smart Contracts, enter the owner address:</label>

                                <input type="text" id="listOwner" class="form-control" style=" padding: 0px 0px 0px 10px;line-height: 23px;font-size: 14px;background: white;" placeholder="0x (hexadecimal)">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="wills-container">

                </div>
            </div>
        </div>

    </div>

</section>

<script src="/js/contracts.js"></script>
<script src="/js/will.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<script id="last-will-added-template" type="x-tmpl-mustache">
 <div class="mbr-white col-md-12 content-container wills-form">
    <div class="card will-card">
        <div class="card-body">
            <h5 class="card-title display-1" style="color:#e80000;">Last Will</h5>
            <br>
            <p>Here are the generated links. Send them to the people you want:</p>
            {{#heirs}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend" style="width: 100px;">
                        <label class="input-group-text" for="will-role" style="width: 100%;">
                            <i class="fa fa-user" style="margin-right: 5px;"></i> Heir
                        </label>
                    </div>
                    <div class="input-group-prepend" style="width: 80px;">
                        <label class="input-group-text" for="will-role" style="width: 100%;">
                            <i class="fas fa-percentage" style="margin-right: 5px;"></i> {{percentage}}
                        </label>
                    </div>
                    <div class="input-group-prepend d-none d-sm-block">
                        <label class="input-group-text" style="height: 100%"><i class="fa fa-link"></i></label>
                    </div>
                    <input type="text" class="form-control d-none d-sm-block" style="padding: 8px;line-height: 23px;font-size: 14px; border: 1px solid #ced4da;" value="{{url}}" disabled>
                    <div class="input-group-append" style="border: 1px solid #ced4da; background-color: white;">
                        <a class="btn btn-sm btn-share" href="whatsapp://send?text=You have been chosen as an heir on the _*Back To Life*_ platform: {{escapedUrl}}" data-action="share/whatsapp/share" data-toggle="tooltip" data-placement="top" title="Share via WhatsApp">
                            <i class="fab fa-whatsapp-square" style="color: green"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="mailto:?subject=Shared Link&body=You have been chosen as an heir on the Back To Life platform: {{escapedUrl}}" data-toggle="tooltip" data-placement="top" title="Share via Email">
                            <i class="fas fa-envelope-square" style="color: grey"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="javascript:void(0)" onclick="copyToClipBoard(this);" data-text="{{url}}" data-toggle="tooltip" data-placement="top" title="Copy to clipboard!">
                            <i class="fas fa-clipboard" style="color: deepskyblue; font-size: 40px;"></i>
                        </a>
                    </div>
                </div>
            {{/heirs}}

            {{#witness}}
                <div class="input-group mb-3">
                    <div class="input-group-prepend" style="width: 180px;">
                        <label class="input-group-text" for="will-role" style="width: 100%;">
                            <i class="fa fa-user" style="margin-right: 5px;"></i> Witness
                        </label>
                    </div>
                    <div class="input-group-prepend d-none d-sm-block">
                        <label class="input-group-text" style="height: 100%"><i class="fa fa-link"></i></label>
                    </div>
                    <input type="text" class="form-control d-none d-sm-block" style="padding: 8px;line-height: 23px;font-size: 14px; border: 1px solid #ced4da;" value="{{url}}" disabled>
                    <div class="input-group-append" style="border: 1px solid #ced4da; background-color: white;">
                        <a class="btn btn-sm btn-share" href="whatsapp://send?text=You have been chosen as a witness on the _*Back To Life*_ platform: {{escapedUrl}}" data-action="share/whatsapp/share" data-toggle="tooltip" data-placement="top" title="Share via WhatsApp">
                            <i class="fab fa-whatsapp-square" style="color: green"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="mailto:?subject=Shared Link&body=You have been chosen as a witness on the Back To Life platform: {{escapedUrl}}" data-toggle="tooltip" data-placement="top" title="Share via Email">
                            <i class="fas fa-envelope-square" style="color: grey"></i>
                        </a>
                        <a class="btn btn-sm btn-share" href="javascript:void(0)" onclick="copyToClipBoard(this);" data-text="{{url}}" data-toggle="tooltip" data-placement="top" title="Copy to clipboard!">
                            <i class="fas fa-clipboard" style="color: deepskyblue; font-size: 40px;"></i>
                        </a>
                    </div>
                </div>
            {{/witness}}

        </div>
        <div class="card-footer">
                            <!-- send mail action -->
                        <div class="row">
                            <div class="input-group col-md-6">
<div class="input-group-prepend"><label class="input-group-text" for="inputGroupSelect01" style="
    border: 1px solid #ced4da;
    margin: 0px;
    padding: 0px 10px;
    font-size: 14px;
    color: #e80000;
"><i class="fa fa-envelope"></i></label></div>
                               <input id="input-email" type="email" class="form-control" name="value-0x278741d6fe3ab34f2c71dc1f6fbd80db3a88d16c" placeholder="enter email address" aria-label="" aria-describedby="basic-addon1">
 <div class="input-group-append">
                                    <button id="send-email" class="btn btn-secondary btn-form display-4 btn-sm sendtype="button" style="margin:0px">Send Mail</button>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </div>
                </div>
    </div>
 </div>
</script>


<script id="will-template" type="x-tmpl-mustache">
   {{#wills}}
   <div class="row">
        <div class="mbr-white col-md-12 content-container wills-form">
            <div class="card will-card" id="{{address}}">
                <div class="card-header">
                    <span class="float-right" style="font-size: 20px;">{{balance}} Eth</span>
                    <span class="float-left" style="font-size: 20px;">Will</span>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="text-muted">Heirs:</h6>
                                </div>
                            </div>
                            {{#heirs}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-text">
                                            <i class="fa fa-dollar-sign"></i> <span style="margin-right: 10px;">{{percentage}}%</span>
                                            <i class="fa fa-user"></i> <span style="margin-right: 10px;">{{address}}</span>
                                        </p>
                                    </div>
                                </div>
                            {{/heirs}}
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="text-muted">Witnesses:</h6>
                                </div>
                            </div>
                            {{#witnesses}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="card-text">
                                            <i class="fa fa-user"></i> {{address}}
                                        </p>
                                    </div>
                                </div>
                            {{/witnesses}}
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    {{#owner}}
                        <!-- Owner actions -->
                        <div class="row">
                            <div class="input-group col-md-6">
                                <div class="input-group-prepend">
                                    <button class="btn btn-secondary btn-form display-4 btn-sm send" data-address="{{address}}" type="button" style="margin:0px">Deposit Ether</button>
                                </div>
                                <!--<input type="text" class="form-control" name="value-{{address}}" placeholder="0.00" aria-label="" aria-describedby="basic-addon1">-->
                                <!--<div class="input-group-append">-->
                                    <!--<button class="btn btn-sm btn-outline-secondary withdraw" data-address="{{address}}" type="button"  style="margin:0px">Withdraw</button>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </div>
                    {{/owner}}
                    {{^owner}}
                        <!-- Hier actions -->
                        <!--<button class="btn btn-sm btn-primary declare-dead" data-address="{{address}}">-->
                            <!--Declare as dead-->
                        <!--</button>-->
                    {{/owner}}
                </div>
            </div>
        </div>
    </div>
    {{/wills}}

</script>
<style>

    @media (max-width: 767px) {
        .g-recaptcha {
            margin-left: -7px;
            padding: 0px;
        }
    }
    .will-card {
        border: 1px solid rgba(0, 0, 0, .125);
        background-color: #fff;
        margin-bottom: 5px;
        color: #333333;
    }

    .mbr-more {
        position: absolute;
        top: 10px;
        left: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: rgba(204, 41, 82, 0.8);
        border-radius: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .mbr-more > a {
        display: inline-block;
        text-decoration: none;
        outline-style: none;
        -webkit-animation: arrowdown 1.7s ease-in-out infinite;
        animation: arrowdown 1.7s ease-in-out infinite;
    }

    .mbr-more a {
        color: #ffffff;
    }

    .mbr-more > a > i {
        position: absolute;
        top: -2px;
        left: 15px;
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        .content-container.wills-row, .content-container.wills-form {
            padding-right: 10px;
        }

    }

    .wills-row {

    }

    .wills-form {
        padding: 10px;

        border-radius: .25rem;
    }
</style>

<script>

    $(document).ready(function () {
        // Load wills plugin
        var will = new MyWills({contract: getBaseContract(contracts), hierarchy: getHierarchyContract(contracts)});

        // Load Previous Last Will
        var jsonWill = localStorage.getItem("lastwill");
        if (jsonWill) {
            will.renderLastWill(JSON.parse(jsonWill));
        }

        $("#chkTestReal").change(function() {
            var nettype = "test";
            if ($(this).is(":checked")) nettype = "real";
            var oldval = localStorage.getItem("contractType");
            localStorage.setItem("contractType",nettype);
            if (oldval != nettype) location.reload();
        });

        if (localStorage.getItem("contractType") == "real") {
            $("#chkTestReal").bootstrapToggle('on');
        }
    });

</script>