<%- contentFor('title') %>
BACK TO LIFE

<%- contentFor('content') %>

<div class="container align-center">
    <div class="row">
        <div class="col-lg-12">
            <h2 id="mainTitle" class="mbr-section-title pb-3 mbr-fonts-style display-2">
                Checking browser...
            </h2>
        </div>
    </div>

    <div id="allOk" class="row center" style="display: none;">
        <div class="col-lg-12">
            <a href="/" class="btn btn-secondary btn-form display-4"> Go Home</a>
        </div>
    </div>

    <div id="details" style="display: none;">
        <div class="row align-left">
            <div class="col-lg-12">
                <h3 id="subTitle" class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
                    For using this service, you need an Ethereum compatible browser, or MetaMask plugin installed.
                </h3>
                <h4 class="mbr-section-subtitle pb-4 mbr-fonts-style display-6">
                    Below you can see the requirements and your status:
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-left">
                <div class="timeline-text-content">
                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                        <i id="metamask-icon" class="fa fa-sync"></i>
                        MetaMask Plugin
                    </h4>
                    <p class="mbr-timeline-text mbr-fonts-style display-7">
                        Download and Install the MetaMask plugin from his official site: <a href="https://metamask.io/" target="_blank">metamask.io</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-left">
                <div class="timeline-text-content">
                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                        <i id="rinkeby-icon" class="fa fa-sync"></i>
                        Rinkeby Test Network
                    </h4>
                    <p class="mbr-timeline-text mbr-fonts-style display-7">
                        From the plugin menu, select the Rinkeby network.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 align-left">
                <div class="timeline-text-content">
                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                        <i id="address-icon" class="fa fa-sync"></i>
                        Ethereum account set
                    </h4>
                    <p class="mbr-timeline-text mbr-fonts-style display-7">
                        From the plugin menu, create or import an account.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="application/javascript">

    $(document).ready(function () {

        var setMetaMaskError = function(err) {
            var metamask = $("#metamask-icon");
            metamask.removeClass("fa-sync");
            if (err) {
                metamask.addClass("fa-times-circle");
                metamask.css('color', 'red');
            } else {
                metamask.addClass("fa-check-circle");
                metamask.css('color', 'green');
            }
        };

        var setRinkebyError = function(err) {
            var rinkeby = $("#rinkeby-icon");
            rinkeby.removeClass("fa-sync");
            if (err) {
                rinkeby.addClass("fa-times-circle");
                rinkeby.css('color', 'red');
            } else {
                rinkeby.addClass("fa-check-circle");
                rinkeby.css('color', 'green');
            }
        };

        var setAddressError = function(err) {
            var address = $("#address-icon");
            address.removeClass("fa-sync");
            if (err) {
                address.addClass("fa-times-circle");
                address.css('color', 'red');
            } else {
                address.addClass("fa-check-circle");
                address.css('color', 'green');
            }
        };

        var errorMetaMask = function() {
            $("#mainTitle").html("Ethereum compatible browser not found!");
            $("#subTitle").html("For using this service, you need an Ethereum compatible browser, or MetaMask plugin installed.");
            setMetaMaskError(true);
            setRinkebyError(true);
            setAddressError(true);
            $("#details").show();
        };

        var errorRinkeby = function() {
            $("#mainTitle").html("Selected network not supported");
            $("#subTitle").html("This service is in test phase. We only supports rinkeby network.");
            $("#details").show();
        };

        var errorAddress = function() {
            $("#mainTitle").html("Account not set");
            $("#subTitle").html("You need to create an Ethereum account for using this service.");
            $("#details").show();
        };

        var allOk = function(){
            $("#mainTitle").html("Your browser is compatible!");
            $("#subTitle").html("");
            $("#allOk").show();
            setMetaMaskError(false);
            setRinkebyError(false);
            $("#details").show();
        };

        // Check if Web3 has been injected by the browser:
        if (typeof web3 !== 'undefined') {
            // You have a web3 browser!
            setMetaMaskError(false);

            // Check which network is metamask attached
            web3.version.getNetwork((err, netId) => {
                var rinkebyErr = (netId !== "4");
                var addressErr = (web3.eth.accounts.length === 0);
                setRinkebyError(rinkebyErr);
                setAddressError(addressErr);

                if (rinkebyErr) {
                    errorRinkeby();
                } else if (addressErr) {
                    errorAddress();
                } else {
                    allOk();
                }

            });

        } else {
            // Warn the user that they need to get a web3 browser or install MetaMask, maybe with a nice graphic.
            errorMetaMask();
        }
    });
</script>