<%- contentFor('title') %>
BACK TO LIFE

<%- contentFor('content') %>

<section class="cid-qPEl4VRv2L mbr-parallax-background" id="header15-z" style="padding-top: 60px; padding-bottom: 60px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row">
            <div class="mbr-white col-md-12">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    You are a witness
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="col-md-12">
                <button id="dead-button" type="submit" class="btn btn-secondary btn-form display-4" style="border-radius: 50px;">Owner Died</button>
            </div>

        </div>
    </div>

</section>

<script src="/assets/web3/web3.js"></script>
<script>
    $(document).ready(function () {
        var localWeb3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        // var localWeb3 = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/8tpuK9msQwcod7QVd94H"));

        var account=localWeb3.eth.accounts.privateKeyToAccount('<%- pk %>');
        localWeb3.eth.accounts.wallet.add(account);

        var MyHeritage = new Heritage({web:localWeb3,contract: {abi: contract.hierarchy.abi, address: '<%- will %>'}});

        MyHeritage.ownerDied().then( a => {
            console.log(a);
            }
        )


</script>