<%- contentFor('meta') %>
<meta name="description" content="Witness">

<%- contentFor('title') %>
Witness

<%- contentFor('content') %>

<section class="cid-qPEl4VRv2L mbr-parallax-background" id="header15-z" style="padding-top: 100px;">

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row">
            <div class="mbr-white col-md-12">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1" style="color:#e80000;">
                    You are a witness
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5 align-left">
                    If you are here, it means that you are the witness of the person that sent you this link. This person gave you the responsibility of deciding whether he/she is dead.
                    When he/she dies, just press the button, and his/her last will will be executed.
                </p>
            </div>

            <div class="col-md-12" id="alive-div" style="display: none;">
                <button id="dead-button" type="submit" class="btn btn-secondary btn-form display-4">Owner Died</button>
            </div>

            <div class="col-md-12 mbr-white" id="dead-div" style="display: none;">
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    <i id="metamask-icon" class="fa fa-check-circle"></i>
                    You have already declared his/her death.
                </p>
            </div>

        </div>

        <div class="row" style="margin-top: 30px; padding-bottom: 177px;">
            <div id="transactions-container" class="mbr-white col-md-12"></div>
        </div>
    </div>

</section>

<script src="/js/transactions-alerts.js"></script>

<script src="/js/contracts.js"></script>

<script>

    var Transactions = new TransactoinAlerts({container: "#transactions-container"});

    $(document).ready(function () {

        loadNetwork('<%- network %>');

        var localWeb3 = new Web3(new Web3.providers.HttpProvider(getProvider()));

        var account = localWeb3.eth.accounts.wallet.add('<%- pk %>');

        var willAddress = "<%- will %>";

        var contract = new localWeb3.eth.Contract(getHierarchyContract().abi, willAddress);

        contract.methods.hasVoted().call({from: account.address.toLowerCase(), to: willAddress.toLowerCase()}, function(err, iVoted){
            if (err) {
                console.error(err);
                $('#ErrorModal').find('.modal-body').find('p').html('Something went wrong.');
                $('#ErrorModal').modal('show');
                return;
            }

            if (iVoted) {
                $("#dead-div").show();
            } else {
                $("#alive-div").show();
                $("#dead-button").on('click', function(){

                    localWeb3.eth.getBalance(account.address.toLowerCase()).then(function (balanceSender){
                        if (!(balanceSender > 0)) {
                            $('#ErrorModal').find('.modal-body').find('p').html("Your account <strong>"+
                                account.address.toLowerCase() +
                                "</strong> doesn't have enough balance. <br> Please add some ether to make the action");

                            $('#ErrorModal').modal('show');

                        }else{

                            localWeb3.eth.getBalance(willAddress).then(function (balance){
                                if (balance > 0) {
                                    contract.methods.ownerDied().send({from: account.address.toLowerCase(), to: willAddress.toLowerCase(), gas: '1000000'}, function(err, tx){
                                        if (err) {
                                            console.error(err);

                                            if(err.message.includes("sender doesn't have enough funds")){
                                                $('#ErrorModal').find('.modal-body').find('p').html("Your account <strong>"+
                                                    account.address.toLowerCase() +
                                                    "</strong> doesn't have enough balance. <br> Please add some ether to make the action");
                                            }else{
                                                $('#ErrorModal').find('.modal-body').find('p').html('Something went wrong.');
                                            }


                                            $('#ErrorModal').modal('show');
                                            return;
                                        }
                                        $('#OkModal').modal('show');
                                        $('#OkModal p').html("Confirming transaction...");
                                        $('#OkModal .btn-success').hide();
                                        $('#OkModal .close').hide();
                                        // Transactions.addTransaction(tx, "Owner Died");

                                    }).on('confirmation', function(confirmationNumber){
                                        if (confirmationNumber === 2) {
                                            $("#alive-div").hide();
                                            $("#dead-div").show();
                                            $('#OkModal p').html("Transaction send successfully!");
                                            $('#OkModal .btn-success').show();
                                            $('#OkModal .close').show();
                                        }
                                    });
                                } else {
                                    $('#ErrorModal').find('.modal-body').find('p').html('The current will contract have 0 balance...');
                                    $('#ErrorModal').modal('show');
                                }
                            }).catch(function(err){
                                console.error(err);
                                $('#ErrorModal').find('.modal-body').find('p').html('Something went wrong.');
                                $('#ErrorModal').modal('show');
                            });


                        }
                    }).catch(function(err){
                        console.error(err);
                        $('#ErrorModal').find('.modal-body').find('p').html("Your account don't have balance, please add ether to send the transaction");
                        $('#ErrorModal').modal('show');
                    });



                })
            }
        });

    });

</script>