module.exports = {
    production: false,
    captcha: false,

    // Real
    main: {
        seed: "",
        privateKey: "",
        address: "",
        provider: "",
        contractBackToLife: "",
        contractMyWill: "",
    },

    // Ropsten
    ropsten: {
        seed: "",
        privateKey: "",
        address: "",
        provider: "",
        contractBackToLife: "",
        contractMyWill: "",
    },

    // Localhost
    local: {
        seed: "",
        privateKey: "0x66c14ddb845e629975e138a5c28ad5a72a73552ea65b3d3ec99810c82751cc35",
        address: "0xff1fbfe19950b12ace5101de1459d765e062cb59",
        provider: "http://localhost:8545",
        contractBackToLife: "../contractBackToLife.json",
        contractMyWill: "../contractMyWill.json",
    },

    // Must be GMAIL
    email:{
        address: "",
        user: "",
        password:""
    },

};
