<%- contentFor('content') %>
<section class="cid-qPEl18T9Fc" style="padding-bottom: 0px;"
         data-bg-video="https://www.youtube.com/embed/iTTrOhEWM-k?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1"
         id="header2-x">


    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BACK TO
                    LIFE</h1>


            </div>
        </div>
    </div>

</section>

<section class="mbr-section content4 cid-qPElNmO2rW" id="content4-10">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">



            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qPK4DMHtUe" id="content11-14">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-10 mbr-fonts-style display-7">
              <h1>Demo keys</h1>
                <br>
                <ul>
                    <li><strong>Bob</strong><br>
                        <strong>Private Key:</strong>0xb831893e9344c9f7b33ccc93a218ce58140a19a34a475a95b79f46305522d1ce<br>
                        <strong>Public Key:</strong>3957b91deae405bb33e80951643cc24441f831fe2d9b5fa22176cc3f12bd8f2d99d37314434e8a51ccf784f04e3923c53a81fdbe6fecb8e7ee05e9d061b6718b<br>
                        <strong>Address:</strong>0xCA3174f4c90013D29e8a24BD7CC4eFB2D0eE5958</li>

                    <li><strong>Alice</strong><br>
                        <strong>Private Key:</strong>0x5ad7cd0dd29a0ad568e508ed689a0eaaea9dc67eebdff18a4ba9fa80f1cb1a22<br>
                        <strong>Public Key:</strong>a62d2c56f366585b96bf6f1ab1e97a28c78821fd6a94c6d61a4a1a476ed7f69a54862e8d6c50f4148b4e8ce1ee37b4a1cc98cc45a6a6c7f282fef88808fd8574<br>
                        <strong>Address:</strong>0x62644862009Ce35E5260ED9B28Db0B7b03561784</li>

                    <li><strong>Adria</strong><br>
                        <strong>Private Key:</strong>0xbdf40c2c4048184a26e7916ee50454afe4b7903ee8a6712db17002f4c5a067b5<br>
                        <strong>Public Key:</strong>a0e0e3217c0f2672e616459215e542b40098208f47bdadbe0d085f658c122516264690c86c04373a93d9e807937d1bfaf0ef7a3e2cd94e173919eeb173d61840<br>
                        <strong>Address:</strong>0xc0Eb469a948C5b7A163Df6e9bCa0a7115a74B7a9</li>

                    <li><strong>Jordi</strong><br>
                        <strong>Private Key:</strong>0x8dd1081583a3a030b2f3db344f26c641e3b39e1ad006df14f8c26d55b315ee9b<br>
                        <strong>Public Key:</strong>31fc4fd7370267d2b197734681343d456c5990b41620c4309dd112627cfd27c1a443fb2905342bb822dc1c07413eeba2ecb976120c5edc887103222c57a082a1<br>
                        <strong>Address:</strong>0xE9948052F6135eA10E12b64deBD2f0060143148A</li>

                    <li><strong>Xavi</strong><br>
                        <strong>Private Key:</strong>0x59cdcc60ee8b9ea7e2c2a986d755be3aca7baa534056db956508a36ca72a2068<br>
                        <strong>Public Key:</strong>562d9182f8be5ed062eae2008d78abfdea5570b46a7a7b05ee1a2e539282c2ba916e3a967c4f65343af3409e15512599c8153caae9135dd1bf932c423140ffdb<br>
                        <strong>Address:</strong>0x6E35EFceAaf447C9470E2E66a02dF90fA69bB979</li>

                    <li><strong>Victor</strong><br>
                        <strong>Private Key:</strong>0x48229638f8bc9a36fd3e0505fffddde89221c76577218e8b92da9064c1376301<br>
                        <strong>Public Key:</strong>b2f969c2965ec3ed71dab0122426be35ea94f8a693ff3315ed5cbc86d255a55fd703f050d30a27427528af361dc0f9e2243c535de93dfcdc1cc5a3c65ea1a86a<br>
                        <strong>Address:</strong>0xDce8489167F8883066DF4F872AAAA1Dbe4267D59</li>
                </ul>
            </div>
        </div>
    </div>
</section>