
<%- contentFor('content') %>
<div class="row">
    <div class="col-md-12">
        <h2>Hello world!</h2>
        <h3>I will help you to recover your password... into the BLOCKCHAIN!</h3>

        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="privatekey">Key to store</label>
            </div>
<textarea id="privatekey" name="privatekey">

</textarea>
            <div class="input-prepend">
                <span class="add-on"><i class="fas fa-user"></i></span>
            <input type="text" name="addr_1"><br>
            </div>
            <input type="text" name="addr_2"><br>
            <input type="text" name="addr_3"><br>
            <input type="text" name="addr_4"><br>
            <input type="text" name="addr_5"><br>
        </form>
    </div>
</div>