<%- contentFor('meta') %>
<meta name="description" content="Nearly 4 Million Bitcoins Lost Forever. Save your cryptocurrencies accounts and declare your heirs into the BLOCKCHAIN">

<%- contentFor('title') %>
Back To Life

<%- contentFor('content') %>

<section class="engine"><a href="https://mobirise.me/y">html web templates</a></section><section class="cid-qV2bHYrZzB mbr-fullscreen mbr-parallax-background" id="header2-5">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(118, 118, 118);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                    BACK TO LIFE<br></h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-7">&nbsp;Nearly 4 Million Bitcoins Lost Forever. <br>Save your cryptocurrencies accounts  and declare your heirs into the BLOCKCHAIN</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-success display-4" href="my-wills">CREATE A WILL</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features8 cid-qVjDWwwZPk mbr-parallax-background" id="features8-6">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="media-container-row">

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mbri-edit"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">CREATE A WILL</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Create a smart contract where you declare your heirs and witnesses</p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mbri-cash"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">DEPOSIT ETHER</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Deposit Ether on your will</p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mbri-link"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">SECURE</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Your will is secured on the ethereum blockchain and only the witnesses can unlock the funds</p>
                    
                </div>
            </div>

            <div class="card  col-12 col-md-6 col-lg-3">
                <div class="card-img">
                    <span class="mbr-iconfont mbri-bookmark"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-5">WILL EXECUTED</h4>
                    <p class="mbr-text mbr-fonts-style display-7">In the event of death the witnesses confirm your death and execute your last will, now the heirs have access to your heritage<br></p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<script src="assets/parallax/jarallax.min.js"></script>