<%- contentFor('content') %>


<section class="engine"><a href="https://mobirise.ws/p">open source website creator</a></section><section class="cid-qPDXW2X8a0" data-bg-video="https://www.youtube.com/embed/iTTrOhEWM-k?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1" id="header2-f">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BACK TO LIFE</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">&nbsp;Nearly 4 Million Bitcoins Lost Forever. Save your cryptocurrencies accounts and passwords &nbsp;and declare your heirs into the BLOCKCHAIN</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="#learn-more">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="./save-account">SAVE NOW</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="timeline2 cid-qPDZlvaNIB" id="timeline2-h">

    

    

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            Proctect your accounts</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
            Follow the following
        </h3>

        <div class="container timelines-container" mbri-timelines="">
            <div class="row timeline-element reverse separline">      
                <span class="iconsBackground">
                    <span class="mbri-pages mbr-iconfont"></span>
                </span>          
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Insert&nbsp;</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
                        </p>
                     </div>
                </div>
            </div>

            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Responsive Design
                        </h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div> 

            <div class="row timeline-element reverse">
                <span class="iconsBackground">
                    <span class="mbri-watch mbr-iconfont"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Smart Watch
                        </h4>      
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
