<%- contentFor('content') %>
<%- contentFor('content') %>


<section class="cid-qPEgLP71PI"  style="padding-bottom: 0px;" data-bg-video="https://www.youtube.com/embed/iTTrOhEWM-k?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1" id="header2-r">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BACK TO LIFE</h1>



            </div>
        </div>
    </div>

</section>

<section class="mbr-section content4 cid-qPEmnFU9I2" id="content4-11">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">



            </div>
        </div>
    </div>
</section>

<section class="cid-qPEh09X89D mbr-fullscreen mbr-parallax-background" id="header15-s">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-right">
        <div class="row">
            <div class="mbr-white col-lg-8 col-md-7 content-container">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    HELP YOUR FRIEND
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Enter your Private Key and help your friend to recover his access! Enter your friend's values and your private key, to return him the lost access
                </p>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="form-container">
                    <div class="media-container-column" data-form-type="formoid">
                        <div data-form-alert="" hidden="" class="align-center">
                            Thanks for filling out the form!
                        </div>
                        <form class="mbr-form" data-form-title="save-account" method="post" id="recover-account-part">

                            <div data-for="user-private-key">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="privateKey" data-form-field="privateKey" placeholder="Your Private Key" required="true" id="private-key">
                                </div>
                            </div>

                            <hr>

                            <div data-for="account-name">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="name" data-form-field="name" placeholder="Friend Account Name" required="true" id="account-name-header15-z">
                                </div>
                            </div>

                            <div data-for="account">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="lostAddress" data-form-field="lostAddress" placeholder="Friend Address" required="true" id="name-header15-z">
                                </div>
                            </div>

                            <div data-for="user-prublic-key">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="newPublicKey" data-form-field="newPublicKey" placeholder="Friend Public Key" required="true" id="public-key">
                                </div>
                            </div>

                            <div class="input-group-btn" style="text-align: center;">
                                <button href="" type="submit" class="btn btn-secondary btn-form display-4">HELP MY FRIEND!</button>
                                <p><a class="simulate-link" href="javascript:void(0)" id="simulateA">* Simulate fill user A</a></p>
                                <p><a class="simulate-link" href="javascript:void(0)" id="simulateB">* Simulate fill user B</a></p>
                                <p><a class="simulate-link" href="./demo-keys">Demo Keys</a></p>
                            </div>

                        </form>
                        <script>
                            $(document).ready(function(){
                                $("#simulateA").on('click', function(){
                                    var now = $.cookie('name');
                                    $("input[name=privateKey]").val("0x8dd1081583a3a030b2f3db344f26c641e3b39e1ad006df14f8c26d55b315ee9b");
                                    $("input[name=name]").val("BTC_"+now);
                                    $("input[name=lostAddress]").val("0xc0Eb469a948C5b7A163Df6e9bCa0a7115a74B7a9");
                                    $("input[name=newPublicKey]").val("a0e0e3217c0f2672e616459215e542b40098208f47bdadbe0d085f658c122516264690c86c04373a93d9e807937d1bfaf0ef7a3e2cd94e173919eeb173d61840");
                                });

                                $("#simulateB").on('click', function(){
                                    var now = $.cookie('name');
                                    $("input[name=privateKey]").val("0x59cdcc60ee8b9ea7e2c2a986d755be3aca7baa534056db956508a36ca72a2068");
                                    $("input[name=name]").val("BTC_"+now);
                                    $("input[name=lostAddress]").val("0xc0Eb469a948C5b7A163Df6e9bCa0a7115a74B7a9");
                                    $("input[name=newPublicKey]").val("a0e0e3217c0f2672e616459215e542b40098208f47bdadbe0d085f658c122516264690c86c04373a93d9e807937d1bfaf0ef7a3e2cd94e173919eeb173d61840");
                                });

                                $("#recover-account-part").submit(function(event) {

                                    // get the form data
                                    // there are many ways to get this data using jQuery (you can use the class or id also)
                                    var formData =   $("#recover-account-part").serialize();
                                    console.log(formData);
                                    // process the form
                                    $.ajax({
                                               type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                               url         : './recover-part', // the url where we want to POST
                                               data        : formData, // our data object
                                               dataType    : 'json', // what type of data do we expect back from the server
                                               encode          : true
                                           })
                                    // using the done promise callback
                                        .done(function(data ) {

                                            $('#OkModal').modal('show');

                                        })
                                        .fail(function(data ) {

                                            $('#ErrorModal').find('.modal-body').find('p')
                                                .html('Something went wrong. ' + data.responseJSON.message);
                                            $('#ErrorModal').modal('show');

                                        })

                                    // stop the form from submitting the normal way and refreshing the page
                                    event.preventDefault();
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>


    <!--Ok Modal HTML -->
    <div id="OkModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4>Great!</h4>
                    <p>Operation Succesful!</p>
                    <button class="btn btn-success" data-dismiss="modal">
                        <span>Continue</span> <i class="material-icons">&#xE5C8;</i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Modal HTML -->
    <div id="ErrorModal" class="modal fade">
        <div class="modal-dialog modal-error">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>
                    <p></p>
                    <button class="btn btn-success" data-dismiss="modal">Try Again</button>
                </div>
            </div>
        </div>
    </div>



</section>