<%- contentFor('content') %>


<section class="engine"><a href="https://mobirise.ws/j">design free website</a></section>
<section class="cid-qPEl18T9Fc" style="padding-bottom: 0px;"
         data-bg-video="https://www.youtube.com/embed/iTTrOhEWM-k?rel=0&amp;showinfo=0&amp;autoplay=1&amp;loop=1"
         id="header2-x">


    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">BACK TO
                    LIFE</h1>


            </div>
        </div>
    </div>

</section>

<section class="mbr-section content4 cid-qPElNmO2rW" id="content4-10">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">



            </div>
        </div>
    </div>
</section>

<section class="cid-qPEl4VRv2L mbr-fullscreen mbr-parallax-background" id="header15-z">


    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-right">
        <div class="row">
            <div class="mbr-white col-lg-8 col-md-7 content-container">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    PROTECT YOU ACCOUNT
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                   Secure your account address into the blockchain. Provide the following information in order to submit your account.
                    No private information, including your private key, will be stored in our servers during the process.
                    In order to protect your account you need to provide your friends public keys. Aks them their public keys before!

                </p>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="form-container">
                    <div class="media-container-column" data-form-type="formoid">
                        <div data-form-alert="" hidden="" class="align-center">
                            Thanks for filling out the form!
                        </div>
                        <form class="mbr-form" data-form-title="save-account" method="post"
                              id="save-account">
                            <div data-for="user-private-key">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="privateKey"
                                           data-form-field="privateKey" placeholder="Your Private Key"
                                           required="true" id="private-key-header15-z">
                                </div>
                            </div>

                            <hr>

                            <div data-for="name">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="name"
                                           data-form-field="Name" placeholder="Account Name"
                                           required="true" id="name-header15-z">
                                </div>
                            </div>
                            <div data-for="password">
                                <div class="form-group">
                                    <textarea type="text" class="form-control px-3" name="password"
                                              data-form-field="Password"
                                              placeholder="Account to protect" required="true"
                                              id="password-header15-z"></textarea>
                                </div>
                            </div>
                            <div data-for="user0">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="user0"
                                           data-form-field="User0"
                                           placeholder="Enter friend public key" required="true"
                                           id="user0-header15-z">
                                </div>
                            </div>
                            <div data-for="user1">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="user1"
                                           data-form-field="User1"
                                           placeholder="Enter friend public key" required="true"
                                           id="user1-header15-z">
                                </div>
                            </div>
                            <div data-for="user2">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="user2"
                                           data-form-field="User2"
                                           placeholder="Enter friend public key"
                                           id="user2-header15-z">
                                </div>
                            </div>
                            <div data-for="user3">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="user3"
                                           data-form-field="User3"
                                           placeholder="Enter friend public key"
                                           id="user3-header15-z">
                                </div>
                            </div>
                            <div data-for="user4">
                                <div class="form-group">
                                    <input type="text" class="form-control px-3" name="user4"
                                           data-form-field="User4"
                                           placeholder="Enter friend public key"
                                           id="user4-header15-z">
                                </div>
                            </div>

                            <span class="input-group-btn">
                    <button href="" type="submit" class="btn btn-secondary btn-form display-4">PROTECT MY ACCOUNT</button>
                </span>
                        </form>
                        <script>
                          $(document).ready(function () {
                            $("#save-account").submit(function (event) {

                              // get the form data
                              // there are many ways to get this data using jQuery (you can use the class or id also)
                              var formData = $("#save-account").serialize();
                              console.log(formData);
                              // process the form
                              $.ajax({
                                       type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                       url: './save-password', // the url where we want to POST
                                       data: formData, // our data object
                                       dataType: 'json', // what type of data do we expect back from the server
                                       encode: true
                                     })
                              // using the done promise callback
                                .done(function (data) {

                                  $('#OkModal').modal('show');
                                  $("#save-account")[0].reset();
                                })
                                .fail(function (data) {

                                  $('#ErrorModal').find('.modal-body').find('p')
                                    .html('Something went wrong. ' + data.responseJSON.message);
                                  $('#ErrorModal').modal('show');

                                })

                              // stop the form from submitting the normal way and refreshing the page
                              event.preventDefault();
                            });
                          });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="OkModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE876;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4>Great!</h4>
                    <p>Your account has been created successfully.</p>
                    <button class="btn btn-success" data-dismiss="modal">
                        <span>Continue</span> <i class="material-icons">&#xE5C8;</i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal HTML -->
    <div id="ErrorModal" class="modal fade">
        <div class="modal-dialog modal-error">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>
                    <p></p>
                    <button class="btn btn-success" data-dismiss="modal">Try Again</button>
                </div>
            </div>
        </div>
    </div>
</section>
